<% if user_signed_in? %> 
<h1> Welcome </h2> 
<p>Click below to view the tutorials available.</p>
<% else %>
<%= link_to "Sign in", new_user_session_path %> to get started.
<% end %>
<h1>Tutorial Completions</h1>

<%= link_to "Tutorials", tutorials_path %> <br>

<% if user_signed_in? && current_user.role.name == 'admin' %>
<%=link_to "Users", admin_users_path %>
<% end %>
