<div class="container">
  <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-primary" %> 
  <br>
  <%=link_to "Home", root_path %>

  <%# List tutorials %>
  <h1>Tutorials</h1>
  <table>
    <thead>
      <tr>
        <th>Tutorial Name</th>
        <th>ID</th>
      </tr>
    </thead>
    <tbody>
      <% @tutorials.each do |tutorial| %>
        <tr>
          <td><%= link_to tutorial.name, tutorial_url(tutorial.id) %></td>
          <td><%= tutorial.id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
