<%=link_to "Back", root_path %>
<br><br>

<%# List tutorials %>
<h1>Tutorials</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Tutorial Name</th>
      <th scope="col">ID</th>
    </tr>
  </thead>
  <tbody>
    <% @tutorials.each do |tutorial| %>
      <tr>
        <td><%= link_to tutorial.name, tutorial_url(tutorial.id) %></td>
        <td><%= tutorial.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
